@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:wght@100..1000&display=swap");

* {
  font-family: "Google Sans Flex", sans-serif;
}

.screen {
  display: flex;
  background-image: url(../assets/images/background.png);
  background-size: cover;
  height: 100vh;
  justify-content: center;
  flex-flow: row nowrap;
}

.metar_window {
  background: white;
  position: absolute;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  padding-top: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.metar_response {
  background: rgb(210, 210, 210);
  color: rgb(88, 88, 88);
  width: 100%;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
  margin-top: 5px;
  padding: 1px;
}

.metar_response p {
  margin: 2px;
}

.app_bar {
  display: flex;
  align-items: center;
  height: 5vh;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
}

.app_bar_title {
  padding: 1vh;
  height: 2.5vh;
  margin-left: 0.5vh;
  justify-self: flex-start;
  background: #ffffff5a;
  border-radius: 25px;
}
.app_bar_apps {
  display: flex;
  justify-self: center;
  height: 4.5vh;
  background: #ffffff5a;
  border-radius: 25px;
  margin-left: 0.5vh;
}
.app_bar_apps ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app_bar_apps li {
  float: left;
  display: flex;
  align-items: center;
}

.app_bar_apps li a {
  display: inline-flex;
  color: black;

  padding: 1vh;
  text-decoration: none;
  height: 20px;
}

.app_bar_apps li a:hover {
  background-color: white;
  border-radius: 25px;
  height: 20px;
}

.app_bar_apps li img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: inline-block;
  margin-right: 5px;
}

.app_bar_apps li span {
  display: inline-block;
  align-items: center;
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
}

.app_bar_clock {
  padding: 1vh;
  display: flex;
  height: 2.5vh;
  margin-right: 0.5vh;
  margin-left: 0.5vh;
  justify-self: flex-end;
  background: #ffffff5a;
  border-radius: 25px;
  align-items: center;
}

.app_bar_clock p {
  margin: 2px;
}
