@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:wght@100..1000&display=swap");

* {
  font-family: "Google Sans Flex", sans-serif;
}

body {
  margin: 0;
}
.screen {
  display: flex;
  background-image: url(../assets/images/background.png);
  background-size: cover;
  height: 100vh;
  justify-content: center;
  flex-flow: row wrap;
}

.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 20vh;
  top: 25%;
  left: 25%;
  z-index: 1;
}

.window_header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1px;
  height: 25px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid black;
  border-bottom-width: 0;
  border-radius: 5px 5px 0 0;
  user-select: none;
  cursor: move;
}

.window_header img {
  width: 20px;
  height: 20px;
}

.window_header p {
  height: 20px;
  margin: 1px;
}

.window_close {
  display: flex;
  margin-left: auto;
  cursor: pointer;
  user-select: none;
}

.window_content {
  flex: 1;
  box-sizing: border-box;
  background: white;
  width: 100%;
  height: 160px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 0 0 5px 5px;
  position: relative;
}

.window_content iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border: 0;
}

.app_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  height: 5vh;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.25);
  user-select: none;
}

.app_bar_title {
  padding: 1vh;
  height: 2.5vh;
  margin-left: 0.5vh;
  justify-self: flex-start;
  background: #ffffff5a;
  border-radius: 25px;
}
.app_bar_apps {
  display: flex;
  justify-self: center;
  height: 4.5vh;
  background: #ffffff5a;
  border-radius: 25px;
  margin-left: 0.5vh;
}
.app_bar_apps ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app_bar_apps li {
  float: left;
  display: flex;
  align-items: center;
}

.app_bar_apps li a {
  display: inline-flex;
  color: black;
  cursor: pointer;
  padding: 1vh;
  text-decoration: none;
  height: 20px;
}

.app_bar_apps li a:hover {
  background-color: white;
  border-radius: 25px;
  height: 20px;
}

.app_bar_apps li img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: inline-block;
  margin-right: 5px;
}

.app_bar_apps li span {
  display: inline-block;
  align-items: center;
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
}

.app_bar_clock {
  padding: 1vh;
  display: flex;
  height: 2.5vh;
  margin-right: 0.5vh;

  justify-self: flex-end;
  background: #ffffff5a;
  border-radius: 25px;
  align-items: center;
}

.app_bar_clock p {
  margin: 2px;
}

.desktop {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
}

.desktop_app {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 300px;
  width: 60px;
  justify-content: center;
  user-select: none;
}

.desktop_app p {
  margin: 2px;
}

.desktop_app img {
  width: 40px;
  height: 40px;
}

.selected {
  border: 1px solid #0088ff27;
  background-color: #0088ff27;
  border-radius: 5px;
  text-shadow: 5px;
}

#window_radar {
  width: 1100px;
  height: 600px;
}

#window_radar .window_content {
  height: calc(100% - 25px);
}

#window_radar iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

#window_metar {
  width: 320px;
  height: 160px;
}

.resizer {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: black;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  z-index: 10;
}

.resize-active iframe {
  pointer-events: none;
}
